body {
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    padding: 40px;
    overflow-x: auto;
}

.logo {
    font-family: 'Courier New', monospace;
    font-size: 28px;
    text-decoration: none;
    color: black;
    margin-bottom: 30px;
    display: inline-block;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.search-container {
    margin-bottom: 30px;
    text-align: left;
}

#searchInput {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 400px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 18px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #ffeedb;
}

th:nth-child(2), /* Name */
th:nth-child(3)  /* Email */ {
    width: 18%;
}

th:nth-child(5),   /* Password */
td:nth-child(5) {
    font-family: monospace;
    opacity: 0.7;
}

#editUserModal div {
    margin-bottom: 8px;
}

#editUserModal label {
    display: inline-block;
    width: 120px;
    text-align: left;
    margin-right: 10px;
}

#editUserModal input[type="text"],
#editUserModal input[type="password"],
#editUserModal input[type="date"],
#editUserModal select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

#editUserModal button {
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#editUserModal button:first-child {
    background-color: #5cb85c;
    color: white;
}

#editUserModal button:last-child {
    background-color: #f44336;
    color: white;
}
.actions span {
    cursor: pointer;
    margin-right: 10px;
    font-size: 18px;
}

.actions span:hover {
    color: red;
}
